body {
    background-image:url("pic.jpg");
    background-size: cover;
  
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
  }
  
  ::placeholder {
    color: #fff;
  }
  
  input {
    background-color: #575757;
    border: none;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    min-width: 300px;
    color: #fff;
    transition: 0.2s;
  }
  
  input#search:hover {
    background: #65747b;
  }
  
  /* input:focus {
    outline: none;
    align-items: center;
    margin-bottom: 0;
    padding-left: 85px;
  } */
  
  .weather {
    font-size: 2rem;
    text-align: center;
  }
  
 .h1{
  font-size: 80px;
  font-weight: 500;
 }
 .h2{
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
 }
  
  .card {
    background: #000000b2;
    width: 100%;
    max-width: 470px;
    height: 70%;
    padding: 2.5em;
    text-align: center;
    border-radius: 30px;
    color: white;
  }
  
  .more-info p {
    font-size: 20px;
  }
  .more-info span {
    font-weight: 600;
  }
  .icon{
    width: 170px;
    margin-top: 30px;
  }
  .details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;

  }
  .col{
    display: flex;
    align-items: center;
    text-align: left;
  }
  .col img{
    width: 40px;
    margin-right: 10px;
  }
  .humadity .wind{
    font-size: 28px;
    margin-top: -6px;
  }
  .button {
    background-color:skyblue;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 12px;
  }